# --- COMENTADO TEMPORALMENTE ---
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=fiadito_db
# DB_USER=fiadito_user
# DB_PASS=plasencia07
# DB_SSL=false

# --- CONEXIÓN A PRODUCCIÓN (CLEVER CLOUD) ---
DATABASE_URL=postgresql://ejemploC@blwtyjkkgwtwld7gshui-postgresql.services.clever-cloud.com:0000/blwtyjkkgwtwld7gshui

NODE_ENV=development
JWT_SECRET=fiadito_secret_key_2026_muy_segura